<div class="menu-box">
  <div [@openClose]="isOpen ? 'open' : 'closed'" class="menu-list">
    <ul>
      <li><button class="list-button" type="button" appButtonResize>Home</button></li>
      <li><button class="list-button" type="button" appButtonResize>About</button></li>
      <li><button class="list-button" type="button" appButtonResize>Services</button></li>
      <li><button class="list-button" type="button" appButtonResize>Contacts</button></li>
    </ul>
  </div>
  <button class="menu-button" type="button" (click)="toggleMenu()">{{isOpen ? 'X' : 'Menù'}}</button>
</div>
